@*Partial view that contains the options used to do a filtered search*@

<table class="table-bordered">
    <tr>
        <td>
            <p> Date From: <input type="text" id="datepicker_from"></p>
        </td>

        <td>
            <p> Date To: <input type="text" id="datepicker_to"></p>
        </td>

        <td>
            <form>
                <select name="Users" id="User_Selector">
                    <option style="text-align:center" disabled selected value=""> -- Select an user -- </option>
                    <option value="Mario">Mario</option>
                    <option value="Jan">Jan</option>
                    <option value="David">David</option>
                    <option value="Josep">Josep</option>
                    <option value="Grzesio">Grzesio</option>
                    <option value="Ali">Ali</option>
                    <option value="Blady">Blady</option>
                    <option value="Brokol">Brokol</option>
                    <option value="Norton">Norton</option>
                    <option value="Szymon">Szymon</option>
                    <option value="">All users</option>
                </select>
            </form>
        </td>

        <td>
            <form>
                <select name="Shift" id="Shift_Selector">
                    <option style="text-align:center" disabled selected value=""> ------ Select a shift ------ </option>
                    <option value= 1>First shift  (6 AM - 2 PM)</option>
                    <option value= 2>Second shift (2 PM - 20 PM)</option>
                    <option value= 3>Third shift  (20 PM - 6AM)</option>
                    <option value= 0>All</option>
                </select>
            </form>
        </td>

    </tr>
</table>

@*DatePicker initialize*@
<script>
        $("#datepicker_from").datepicker({ dateFormat: "dd-mm-yy" });
        $("#datepicker_to").datepicker({ dateFormat: "dd-mm-yy" });
</script>
