
@{
    ViewBag.Title = "Login";
    Layout = null;
}


<link href="~/Content/bootstrap.css" rel="stylesheet" />
<head>
    <title align="center">LOG BOOK</title>
    <style>
        body {background-color: white}
        h1 {font: bold}
    </style>

</head>

<body>
    <h1>Login to ST10 Log Book</h1>
    <div class="container" style="width:60%;margin-top:2%;background-color:dodgerblue">


    </div>
</body>

<footer>
    <div class="table table-bordered" style="position: absolute ; bottom:-10px; width:100%; height:3%; color:white">
        <p align="center">@Html.ActionLink("Index", "Index")</p>
    </div>
</footer>